{% include "header.html" %}

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }
    .container {
        margin-top: 50px;
    }
    .jumbotron {
        background-color: #007bff;
        color: #ffffff;
    }
    .contact-info {
        margin-top: 30px;
    }
</style>


<div class="container">
<div class="jumbotron text-center">
    <h1 class="display-4"> Welcome to Your Cloud Kitchen Customer Care </h1>
    <p class="lead"> Your satisfaction is our priority! </p>
</div>

<div class="row contact-info">
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p><strong>Customer Care Hotline:</strong> +91 1234567896</p>
        <p><strong>Email Support:</strong> <a href="mailto:support@dakaarlo.com">support@dakaarlo.com</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order Assistance</h2>
        <p><strong>Order Hotline:</strong> 1-1800-888-999</p>
        <p><strong>Order Assistance Email:</strong> <a href="mailto:orderassistance@dakaarlo.com">orderassistance@dakaarlo.com</a></p>
    </div>
</div>

<div class="row contact-info">
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p><strong>Facebook:</strong> <a href="" target="_blank">Dakaarlo</a></p>
        <p><strong>Twitter:</strong> <a href="" target="_blank">Dakaarlo</a></p>
        <p><strong>Instagram:</strong> <a href="" target="_blank">Dakaarlo</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Us</h2>
        <p>Civil Lines<br>
           Roorkee<br>
           247667
        </p>
    </div>
</div>

<div class="row contact-info">
    <div class="col-md-12">
        <h2>Feedback and Suggestions</h2>
        <p>Share your thoughts and suggestions to help us serve you better.</p>
        <p><strong>Feedback Form:</strong> <a href="[Link to Feedback Form]" target="_blank">Feedback Form</a></p>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{% include "footer.html" %}