{% include "header.html" %}

      <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                  <h1 class="mb-3">You are in <b>carte du jour</b> </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

	<br>
	<div class="container pb-50 d-flex flex-grow-1 bd-layout" style="height: 100vh; padding-bottom: 10em;"">
		<div class="row text-center">
			<div class="col-md-4">
				<div class="card card-body h-100  border-info">
					<img src="\static\img\northindian.jpg">
					<hr>
					<a href="/north"><h4>North Indian</h4></a>
				</div>
			</div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="">
                    <hr>
                    <a href="/south"><h4>South Indian</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="china.webp">
                    <hr>
                    <a href="/gujraj"><h4>Gujrati and Rajasthani</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="china.webp">
                    <hr>
                    <a href="/street"><h4>Indian Street</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="china.webp">
                    <hr>
                    <a href="/chinese"><h4>\Chinese</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="china.webp">
                    <hr>
                    <a href="/italian"><h4>Italian</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-body h-100  border-info">
                    <img src="china.webp">
                    <hr>
                    <a href="/custom"><h4>Special Request</h4></a>
                </div>
            </div>
        </div>
 

    </div>

    <div>
        <br>
    </div>

{% include "footer.html" %}

            