{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
  <script src="/static/js/cart.js"></script>

    <header>
        <nav class="navbar navbar-expand-lg d-none d-lg-block" style="z-index: 2000;">
          <div class="container-fluid">
            <a class="navbar-brand nav-link" href="{% url 'menu' %}">
              <strong>ORDER NOW!</strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cuscare">CustomerCare</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
              </ul>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                 <li class="nav-item">
                   <a class="nav-link" href="/user/signup">Login</a>
                 </li>		
                 </ul>
              </div>
              <ul class="navbar-nav list-inline">
                <li class="">
                  <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                    target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

<div class="card text-black" style="border-radius: 25px;">
    <div class="card-body p-md-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"> Bilkul Sahi decision aapka! </p>


                <form class="mx-1 mx-md-4" action='{% url "register" %}' method="POST">
                    {% csrf_token %}
                    {% include "alert.html" %}

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="text" id="username" class="form-control" name="username"
                                placeholder="Create a username (only letters and numbers)" required>
                            <label class="form-label" for="username">User Name</label>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="password" id="password1" class="form-control" name="password1"
                                placeholder="Create your password" required>
                            <label class="form-label" for="password1">Password</label>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="password" id="password2" class="form-control" name="password2"
                                placeholder="Confirm your password" required>
                            <label class="form-label" for="password2">Confirm Password</label>
                        </div>
                        {% comment %} {% if messages %}
                            <small class="text-danger">{{ messages }}</small>
                        {% endif %} {% endcomment %}
                    </div>

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Enter your email"
                                required>
                            <label class="form-label" for="email">Email</label>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="number" id="phone" class="form-control" name="phone"
                                placeholder="Enter your phone number" required>
                            <label class="form-label" for="phone">Phone Number</label>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="form-outline">
                            <input type="text" id="address" class="form-control" name="address"
                                placeholder="Enter your address" required>
                            <label class="form-label" for="address">Address</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Let's cook</button>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
